## Python And MySQL

install mysql.connector

Start by creating a connection to the database.

In [7]:
import mysql.connector
import numpy as np
import pandas as pd

In [9]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="123456789",
  database="chinook"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customer")

myresult = pd.DataFrame(mycursor.fetchall())
myresult.head(3)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
1,2,Leonie,Köhler,None,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,+49 0711 2842222,None,leonekohler@surfeu.de,5
2,3,François,Tremblay,None,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,None,ftremblay@gmail.com,3