## Python And MySQL

install mysql.connector

Start by creating a connection to the database.

In [21]:
import mysql.connector
import json
import numpy as np
import pandas as pd

## connector python to MySQL
create Config
### select
1- host

2- username

3- password

4- database (name)

In [ ]:
import json
config = {
  "host": "localhost",
  "port": 3306,
  "user": "root",
  "password": "123456789",
  "database": "chinook"
}
with open("D:/Last project Data Analayses/Music Analysis/notebooks/Python/config.json", "w") as outfile: 
    json.dump(config, outfile)

In [41]:
with open ("D:/Last project Data Analayses/Music Analysis/notebooks/Python/config.json","r") as config_file:
    db_config = json.load(config_file)

In [65]:
conn = mysql.connector.connect(
  host = db_config['host'],
  port = db_config['port'],
  user = db_config['user'],
  password = db_config['password'],
  database= db_config['database']
)

show Tabels in chinook database

In [66]:
name_tables_database = "show tables"
name_of_tabels = pd.read_sql(name_tables_database, conn)
name_of_tabels

C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_11200\276777924.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  name_of_tabels = pd.read_sql(name_tables_database, conn)

   Tables_in_chinook
0              album
1             artist
2           customer
3           employee
4              genre
5            invoice
6        invoiceline
7          mediatype
8           playlist
9      playlisttrack
10             track

In [51]:
query_1 = """
SELECT * from customer"""

df = pd.read_sql(query_1, conn)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerId    59 non-null     int64
 1   FirstName     59 non-null     object
 2   LastName      59 non-null     object
 3   Company       10 non-null     object
 4   Address       59 non-null     object
 5   City          59 non-null     object
 6   State         30 non-null     object
 7   Country       59 non-null     object
 8   PostalCode    55 non-null     object
 9   Phone         58 non-null     object
 10  Fax           12 non-null     object
 11  Email         59 non-null     object
 12  SupportRepId  59 non-null     int64
dtypes: int64(2), object(11)
memory usage: 6.1+ KB

C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_11200\2740900701.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query_1, conn)