## Python And MySQL

install mysql.connector

Start by creating a connection to the database.

In [67]:
import mysql.connector
import json
import numpy as np
import pandas as pd

## connector python to MySQL
create Config
### select
1- host

2- username

3- password

4- database (name)

In [69]:
import json
config = {
  "host": "localhost",
  "port": 3306,
  "user": "root",
  "password": "123456789",
  "database": "chinook"
}
with open("D:/Last project Data Analayses/Music Analysis/notebooks/Python/config.json", "w") as outfile: 
    json.dump(config, outfile)

In [70]:
with open ("D:/Last project Data Analayses/Music Analysis/notebooks/Python/config.json","r") as config_file:
    db_config = json.load(config_file)

In [71]:
conn = mysql.connector.connect(
  host = db_config['host'],
  port = db_config['port'],
  user = db_config['user'],
  password = db_config['password'],
  database= db_config['database']
)

show Tabels in chinook database

In [72]:
name_tables_database = "show tables"
name_of_tabels =pd.read_sql(name_tables_database, conn)
name_of_tabels

C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_11112\1478590201.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  name_of_tabels =pd.read_sql(name_tables_database, conn)

   Tables_in_chinook
0              album
1             artist
2           customer
3           employee
4              genre
5            invoice
6        invoiceline
7          mediatype
8           playlist
9      playlisttrack
10             track

create dataframe and save as CSV

In [74]:
variable_names = list(name_of_tabels['Tables_in_chinook'])

file_names = []
for i in range(len(variable_names)):
    a = f"""SELECT * from {name_of_tabels.iloc[i]['Tables_in_chinook']}"""
    file_names.append(a)
for var_name, file_name in zip(variable_names, file_names):
    globals()[var_name] = pd.read_sql(file_name, conn)

for var_name in variable_names:
    globals()[var_name].to_csv(f'D:/Last project Data Analayses/Music Analysis/data/processed/Dataframe/{var_name}.csv')

C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_11112\674012914.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  globals()[var_name] = pd.read_sql(file_name, conn)

In [75]:
conn.close()