## Basic analysis and familiarization with data
1. Read Data from folder
2. Description data

In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
path = "D:/Last project Data Analayses/Music Analysis/data/processed/Dataframe"
dir_list = os.listdir(path)

In [3]:
variable_names = dir_list.copy()
for i in range(len(variable_names)):
    variable_names[i] = variable_names[i].replace(".csv","")

file_names = dir_list

for var_name, file_name in zip(variable_names, file_names):
    print(f"name {var_name}    and file {var_name}")
    globals()[var_name] = pd.read_csv(f'D:/Last project Data Analayses/Music Analysis/data/processed/Dataframe/{file_name}').drop("Unnamed: 0", axis=1)

name album    and file album
name artist    and file artist
name customer    and file customer
name employee    and file employee
name genre    and file genre
name invoice    and file invoice
name invoiceline    and file invoiceline
name mediatype    and file mediatype
name playlist    and file playlist
name playlisttrack    and file playlisttrack
name track    and file track

In [130]:
class display(object):
    """Display HTML representation of multiple objects"""
    template = """<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args)
    
    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
                           for a in self.args)

### Discrabe dataframes
overview

In [4]:
print(f"""count album         : {album["AlbumId"].count()}
count artist        : {artist["ArtistId"].count()}
count customer      : {customer["CustomerId"].count()}
count employee      : {employee["EmployeeId"].count()}
count genre         : {genre["GenreId"].count()}
count invoice       : {invoice["InvoiceId"].count()}
count mediatype     : {mediatype["MediaTypeId"].count()}
count playlist      : {playlist["PlaylistId"].count()}
count playlisttrack : {playlisttrack["PlaylistId"].count()}
count track         : {track["TrackId"].count()}""")

count album         : 347
count artist        : 275
count customer      : 59
count employee      : 8
count genre         : 25
count invoice       : 412
count mediatype     : 5
count playlist      : 18
count playlisttrack : 8715
count track         : 3503

invoice  Table

In [5]:
invoice.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 412 entries, 0 to 411
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   InvoiceId          412 non-null    int64
 1   CustomerId         412 non-null    int64
 2   InvoiceDate        412 non-null    object
 3   BillingAddress     412 non-null    object
 4   BillingCity        412 non-null    object
 5   BillingState       210 non-null    object
 6   BillingCountry     412 non-null    object
 7   BillingPostalCode  384 non-null    object
 8   Total              412 non-null    float64
dtypes: float64(1), int64(2), object(6)
memory usage: 29.1+ KB

In [6]:
invoice.isnull().sum()

InvoiceId              0
CustomerId             0
InvoiceDate            0
BillingAddress         0
BillingCity            0
BillingState         202
BillingCountry         0
BillingPostalCode     28
Total                  0
dtype: int64

invoiceline Table

In [7]:
invoiceline.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   InvoiceLineId  2240 non-null   int64
 1   InvoiceId      2240 non-null   int64
 2   TrackId        2240 non-null   int64
 3   UnitPrice      2240 non-null   float64
 4   Quantity       2240 non-null   int64
dtypes: float64(1), int64(4)
memory usage: 87.6 KB

In [10]:
invoiceline[["UnitPrice", "Quantity"]].describe()

         UnitPrice  Quantity
count  2240.000000    2240.0
mean      1.039554       1.0
std       0.217069       0.0
min       0.990000       1.0
25%       0.990000       1.0
50%       0.990000       1.0
75%       0.990000       1.0
max       1.990000       1.0